
@{
    ViewData["Title"] = "Add";
}
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *,AuthoringTagHelpers
@model Department

<form method="post" asp-action="Add">
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label> Depatment Name</label>
            <input asp-for="DepartmentName" class="form-control" />
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>

