
@{
    ViewData["Title"] = "Add";
}
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *,AuthoringTagHelpers
@model Person

<form method="post" asp-action="Add">
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label> Person Name</label>
            <input asp-for="Name" class="form-control" />
        </div>
        <div class="col-md-4 mb-3">
            <label> Person Surname</label>
            <input asp-for="Surname" class="form-control" />
        </div>
        <div class="col-md-4 mb-3">
            <label> Age</label>
            <input asp-for="Age" class="form-control" />
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label> Email</label>
            <input asp-for="Email" class="form-control" />
        </div>
        <div class="col-md-4 mb-3">
            <label> Passwor</label>
            <input asp-for="Passwor" class="form-control" />
        </div>
        <div class="col-md-4 mb-3">
            <label> Address</label>
            <input asp-for="Address" class="form-control" />
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label> PositionId</label>
            <input asp-for="PositionId" class="form-control" />
        </div>
        <div class="col-md-4 mb-3">
            <label> Salary</label>
            <input asp-for="SalaryID" class="form-control" />
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>

